.places {
    padding: 0;
    margin: 0 148px 92px 148px;
    display: grid;
    gap: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1279.5px) {
    .places {
        margin: 0 48px 92px 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .places {
        margin: 0 24px 90px 24px;
    }
}

@media screen and (max-width: 767.5px) {
    .places {
        margin: 0 0 66px 0
    }
}




