.intro__list {
    max-width: 690px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    list-style: none;
}  

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .intro__list {
        max-width: 720px;
    } 
}

@media screen and (max-width: 767.5px) {
    .intro__list {
        max-width: 288px;
    }
}
