.cover__background {
    border: 1px solid red;
    background: url('../../../images/cover-trains.jpg') no-repeat ;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: 0;
    z-index: 0;
    opacity: 0.8;
    box-sizing: border-box;
}

.cover__background:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.8;
}
